:root {

    --button-foreground:205, 12%, 70%;
    --button-foreground-hover:210, 40%, 98%;

    --background: 0 0% 98%;
    --foreground: 210 40% 98%;

    --card: 0 0% 98%;
    --card-foreground: 210 40% 0%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 240, 6%, 10%;
    --muted-foreground: 222, 9%, 60%;

    --accent: 48, 88%, 48%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 4% 16%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 354 100% 56%;
  }
/* 
  [data-theme='dark'] {

    --button-foreground:205, 15%, 77%;
    --button-foreground-hover:210, 40%, 98%;

    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 240 6% 10%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 240, 6%, 10%;
    --muted-foreground: 222, 9%, 60%;

    --accent: 48, 88%, 48%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 4% 16%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  } */